<%= bootstrap_form_for(news) do |f| %>
  <% if news.errors.any? %>
    <div class="alert alert-warning" id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.datetime_select :published_at %>
    <%= f.text_field :title %>
    <%= f.text_area :teaser %>
    <%= f.text_area :content, id: 'edit' %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
